on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Convert notebooks and deploy
        uses: eltociear/jupyter-to-pages@v1
        with:
          source: notebooks
          show-cells: true
          dependencies: requirements.txt
